*.class

# Package Files #
*.jar
!json-*.jar
*.war
*.ear
/platjava/build/
/nbproject/private/
/build/
/dist/
/Example03/nbproject/private/
/TicTacToe_BECKLER/nbproject/private/
/TicTacToe_BECKLER/TicTacToe_BECKLER-war/nbproject/private/
/TicTacToe_BECKLER/TicTacToe_BECKLER-ejb/nbproject/private/
/Example03/build/
/TicTacToe_BECKLER/TicTacToe_BECKLER-war/build/
/TicTacToe_BECKLER/TicTacToe_BECKLER-ejb/build/
/TicTacToe_BECKLER/TicTacToe_BECKLER-ejb/dist/